<% title @user.name %>

<header>
  <h2>
    Showing <%= @user.name %>
  </h2>
</header>

<p class="profile_image">
  <%= gravatar_image(@user) %>
</p>

<article>
  <table>
    <tr>
      <th>
        User name:
      </th>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th>
        Username:
      </th>
      <td>
        <%= @user.username %>
      </td>
    </tr>
    <tr>
      <th>
        User email:
      </th>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <th>
        User since
      </th>
      <td>
        <%= present_user_created @user %>
      </td>
    </tr>
  </table>
</article>

<% if current_user? @user %>
  <%= link_to "Edit Account", edit_user_path(@user) %>
<% end %>
<% if current_user_or_admin? @user %>
  <%= link_to "Delete Account", user_path(@user), :method => :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<% if @fav_movies.any? %>
  <h3>Favorites:</h3>
  <p>
    <% @fav_movies.each do |fm| %>
    <ul>
      <li>
        <%= link_to fm.title, fm %>,
        favorited <%= time_ago_in_words fm.created_at %> ago
      </li>
    </ul>
    <% end %>
  </p>
<% end %>

<% if @reviews.any? %>
  <h3>Reviews: </h3>
  <list>
    <% @reviews.each do |r| %>
    <ul>
      <li>
        Movie: <%= link_to r.movie.title, r.movie %>,
        Stars: <%= r.stars %>,
        Reviewed <%= time_ago_in_words r.created_at %> ago,
        Comment: <%= r.comment %>
      </li>
    </ul>
    <% end %>
  </list>

<% end %>
